// Fonts
$font-family: 'Segoe UI', Tahoma, sans-serif;

// Color scheme
$body-color: #ffffff;
$base-blue-color: #009cf4;
$btn-hover-color: #11a1f5;

// widget sizes
$widget-width: 340px;
$widget-height: 400px;