@import 'variables';

// Mixins

/* there could be mixins */

// ---

// Extends

%container-inner {
    width: 100%;
    min-height: 200px;
    padding: 50px 20px;
}

// ---

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

button, input {
    outline: none;
}

button {
    cursor: pointer;
}

.wrapper {
    width: $widget-width;
    height: $widget-height;
    position: relative;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 0;
    left: $widget-width;
    width: 100%;
    
    &.active {
        left: 0;
    } 
}

.icon-controll {
    position: absolute;
    top: 12px;
    right: 15px;
    z-index: 10;

    button {
        background: {
            color: rgba(255, 255, 255, 0.7);
            image: url(icons/settings.svg);
            repeat: no-repeat;
            size: 18px;
            position: 50%;
        }
        border: none;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        padding: 4px;
        opacity: 0.6;
        transition: all ease-in-out 0.25s;

        &:hover {
            opacity: 0.9;
        }

        &.icon-settings.active {
            transform: rotateZ(45deg)
        }
    }
}

.dayforecast {
    @extend %container-inner;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__icon {
        display: block;
        height: 100px;
    }

    &__phrase {
        letter-spacing: 2px;
        font: {
            weight: 700;
            size: 13px;
        }
        text: {
            transform: uppercase;
            align: center;
        }
        color: $base-blue-color;
        margin: {
            top: 30px;
            bottom: 10px;
        }
    }

    &__date {
        letter-spacing: 1px;
        font: {
            weight: 700;
            size: 11px;
        }
        text-transform: uppercase;
        color: #d6d6d6;
    }

    &__temp {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 25px;
    }

    &__temp-item {
        padding: 0 10px;
        width: 33.3333%;

        small {
            display: block;
            border-top: 2px solid #f1f1f1;
            border-bottom: 2px solid #f1f1f1;
            text-align: center;
            color: #dedede;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 500;
            margin-bottom: 15px;
            transition: all 0.25s ease;
        }

        &.active small {
            color: #c4c4c4;
        }

        p {
            text-align: center;
            font: {
                size: 36px;
                weight: 600;
            }
            color: $base-blue-color;
            line-height: 1;
            opacity: 0.3;
            transition: all 0.5s ease;
        }

        &.active p {
            font-size: 40px;
            opacity: 0.8;
        }
    }
}

.settings-inner {
    @extend %container-inner;
}

.form-field {
    margin: {
        bottom: 15px;
        left: 3px;
    }

    &:last-of-type {
        margin-bottom: 30px;
    }

    &__name {
        text-transform: capitalize;
        margin-bottom: 7px;
        line-height: 1;
        font-size: 14px;
        color: #717171;
    }

    &_radio {
        label {
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 500;
            margin-right: 7px;

            span {
                font-size: 14px;
                letter-spacing: 1.3;
            }
    
            input[type=radio] {
                display: none;

                &:checked ~ span {
                    color: $base-blue-color;
                }
            }
        }
    }

    input[type=text] {
        width: 200px;
        height: 28px;
        border: none;
        border-bottom: 2px solid #a0a0a0;
        text-transform: uppercase;
        font-weight: 500;
        font-family: $font-family;
    }
}

.btn-blue {
    border: none;
    background-color: $base-blue-color;
    min-width: 140px;
    height: 32px;
    border-radius: 20px;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 1px;
    transition: all 0.25s ease-in-out;
    font: {
        family: $font-family;
        weight: 500;
    }

    &:hover {
        background-color: $btn-hover-color;
    }
}

.message {
    margin: {
        top: 15px;
        left: 3px;
    }
    font: {
        size: 14px;
    }
}
